/* body {
    background-color: hsl(0, 0%, 90%);
} */


@media (max-width: 480px) {
    .navBar {
        display: none;
    }

    #btnContainer {
        display: flex;
        flex-direction: column;
    }
}

#greenColor {
    color: #1fc600;
    /* color: greenyellow; */
}